<div id="dashboard">
  <h1>Leaderboard</h1>
  <table class="table">
    <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Posts Authored
        </th>
        <th>
          Comments Made
        </th>
        <th>
          Comments Received
        </th>
        <th>
          Points
        </th>
      </tr>
    </thead>
    <tbody>
      <% @leader_board.each do |usr| %>
          <tr class="<%= (usr[:email] == current_user.email) ? 'info' : '' %>">
            <td>
              <%= usr[:email] %>
            </td>
            <td>
              <%= usr[:posts_count] %>
            </td>
            <td>
              <%= usr[:outgoing_comments_count] %>
            </td>
            <td>
              <%= usr[:incoming_comments_count] %>
            </td>
            <td>
              <%= usr[:score] %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
