<div class="post well">
  <h3><%= link_to post.title, post_path(post) %></h3>
  <p>
    <%= post.body %>
  </p>
  <p class="text-right">
    <%= post.user.email %> | <%= post.created_at.strftime("%e %b, %Y") %> | <%= pluralize post.comments.count, "comment" %>
  </p>
</div>
